@page "/"

@inject SeznamDbContext db
@inject NavigationManager nav

<h1>Seznam osob ☎</h1>

<div>
    <button @onclick="GoToPridej">➕ Přidej novou</button>
</div>

<table>
    <tr>
        <th>
            Jméno
        </th>
        <th>
            Příjmení
        </th>
        <th>
            Datum.Nar.
        </th>
        <th>
            Telefon
        </th>
        <th>
            Akce
        </th>
    </tr>
    @foreach(var clovek in lide)
    {
        <tr>
            <td>
                @clovek.Jmeno
            </td>
            <td>
                @clovek.Prijmeni
            </td>
            <td>
                @clovek.DatumNarozeni?.ToShortDateString()
            </td>
            <td>
                @clovek.Telefon
            </td>
            <td>
                <a href="/osoba/@clovek.Id">Detail</a> |
                <a href="/edit/@clovek.Id">Editace</a>
            </td>
        </tr>
    }
</table>

@code {
    List<Clovek> lide = new List<Clovek>();

    protected override void OnInitialized()
    {
        lide = db.Lide.ToList();
    }

    void GoToPridej()
    {
        nav.NavigateTo("/pridej");
    }
}


