@model List<Clovek>

<h1>Telefonní seznam</h1>

<table class="table table-striped">
    
    <tr>
        <th>Jméno</th>
        <th>Příjmení</th>
        <th>DatumNar.</th>
        <th>Telefon</th>
    </tr>
    @foreach(var zaznam in Model)
    {
        <tr>
            <td>@zaznam.Jmeno</td>
            <td>@zaznam.Prijmeni</td>
            <td>@zaznam.DatumNarozeni.ToString("dd. MM. yyyy")</td>
            <td>@zaznam.Telefon</td>
        </tr>
    }
</table>