@model NasobilkaViewModel

@{

}

<h2>Zadej velikost tabulky násobilky</h2>

<form asp-controller="Nasobilka" asp-action="Index" >
    <div class="mb-3">
        <label asp-for="Size" class="form-label">Velikost:</label>
        <input asp-for="Size" class="form-control">
    </div>
    <div class="mb-3">
        <input type="submit" class="btn btn-primary" value="Ulož"/>
    </div>

</form>

